Repository monal-im/Monal, pull requests merged in 2020-07, with the labels that each got.

#415 Update XEPsupport.md
  XEPsupport.md
Labels: :bookmark_tabs: XEP

#416 Update XEPsupport.md XEP191, 85, 319
  XEPsupport.md
Labels: :bookmark_tabs: XEP

#426 Fix typo
  Monal/Classes/MLSoundsTableViewController.m
Labels: :no_entry_sign: Bug / Stability

#434 Create LICENSE
  LICENSE
  ReadMe.md
  licence.txt
Labels: :tada: Feature
